# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/
docs/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Local Data / Temporary Files
# =========================
data/
docs/
tmp/
temp/
*.csv
*.xlsx

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Python build artifacts
# =========================
build/
dist/
*.egg-info/

# =========================
# Docker
# =========================
docker-data/
postgres-data/

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# Coverage
# =========================
.coverage
htmlcov/

# =========================
# Migrations cache
# =========================
alembic/versions/__pycache__/